hr.avita-boilerplate__ {
    &spacing-xxxl {
        height: 8rem;
        border: none;
    }

    &spacing-xxl {
        height: 4rem;
        border: none;
    }
    
    &spacing-xl {
        height: 3rem;
        border: none;
    }

    &spacing-l {
        height: 2rem;
        border: none;
    }

    &spacing-m {
        height: 2rem;
        border: none;
    }

    &spacing-s {
        height: 1rem;
        border: none;
    }

    &spacing-xs {
        height: 0.5rem;
        border: none;
    }

    &spacing-xxs {
        height: 0.25rem;
        border: none;
    }
}